.Burger {
	padding-top: 120px;
	margin: auto;
	position: relative;
	height: 250px;
	overflow: scroll;
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}

.Order {
	padding-top: 40px;
	width: 450px;
	height: 400px;
}
.Burger.Order {
	width: 450px;
	height: 350px;
}

.BackgroundImage {
	width: 100%;
	height: 100%;
	
	position: absolute;
	z-index: -1;
	top: 56px;
}

@media (min-width: 500px) and (min-height: 401px) {
	.Burger {
		width: 450px;
		height: 400px;
	}
}

@media (min-width: 1000px) and (min-height: 700px) {
	.Burger {
		width: 700px;
		height: 600px;
	}
}
