.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.BuildControl button {
	display: block;
	font: inherit;
	padding: 1px;
	margin: 0 5px;
	width: 80px;
	border: 1px solid #aa6817;
	cursor: pointer;
	outline: none;
	font-size: 1.5rem;
}

.BuildControl button:disabled {
	background-color: #ac9980;
	border: 1px solid #7e7365;
	color: #ccc;
	cursor: default;
}

.BuildControl button:hover:disabled {
	background-color: #ac9980;
	color: #ccc;
	cursor: not-allowed;
}

.Label {
	padding: 10px;
	font-weight: bold;
	width: 80px;
}

.BuildControl .Less {
	background-color: transparent;
	border: 3px solid rgb(116, 84, 69);
	color: rgb(255, 218, 116);
	border-radius: 30px;
}

.BuildControl .More {
	background-color: transparent;
	border: 3px solid rgb(255, 218, 116);
	color: rgb(255, 218, 116);
	border-radius: 30px;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
	background-color: rgb(116, 84, 69);
	color: #3d2222;
}

.BuildControl .More:hover,
.BuildControl .More:active {
	background-color: rgb(255, 218, 116);
	color: #3d2222;
}
