.CheckoutSummary {
	padding-block-start: 120px;
	text-align: center;
	width: 450px;
	margin: auto;
	transition: transform 300ms;

}
.Aside {
	transform: translateX(-20vw);
	transition: transform 300ms;
}