.Modal {
	position: fixed;
	z-index: 500;
	background-color: white;
	width: 70%;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px black;
	left: 15%;
	top: 20%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	transform: translateX(-500vh);
}

.In {
	transform: translateX(0);
}

@media (min-width: 600px) {
	.Modal {
		width: 500px;
		left: calc(50% - 250px);
	}
}

.Header {
	width: 100%;
	background: linear-gradient(#d14900, #ff8a14);
	border: solid 1px #ff8a14;
	text-align: center;
}
.Header img {
	width: 20%;
	padding: 50px;
}

.OrderSummary {
	padding: 16px;
}
