.Modal {
	position: fixed;
	z-index: 500;
	color: rgb(255, 218, 116);
	width: 70%;
	box-shadow: 1px 1px 1px black;
	left: 15%;
	top: 10%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	transform: translateX(-500vh);
	border-radius: 30px;
	border: 3px solid rgb(255, 218, 116);
}
.In {
	transform: translateX(0);
}
.Summary {
	background: linear-gradient(#3d2222 1%, #221313 70%);
}
.Loading {
	background-color: #d95d39;
}
@media (min-width: 600px) {
	.Modal {
		width: 500px;
		left: calc(50% - 250px);
	}
}
@media (max-width: 330px) {
	.Modal {
		top: 5%;
	}
}
.Header {
	width: 100%;
	background-color: #d95d39;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	text-align: center;
}
.Header img {
	width: 20%;
	padding: 50px;
}
.OrderSummary {
	padding: 16px;
}
