.SideDrawer {
	width: 280px;
	position: fixed;
	max-width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 410;
	background-color: #0e1428;
	padding: 32px 16px;
	box-sizing: border-box;
	transition: transform 0.3s ease-out;
}

.Logo {
	text-align: center;
	height: 11%;
}

@media (min-width: 530px) {
	.SideDrawer,
	.Backdrop {
		display: none;
	}
}

.Open {
	transform: translateX(0);
}
.Close {
	transform: translateX(-100%);
}
