.BreadBottom {
	width: 70%;
	z-index: 299;
	margin: -20px;
	position: relative;
}

.BreadTop {
	width: 70%;
	z-index: 306;
	margin: -20px;
	position: relative;
}

.Meat {
	width: 80%;
	z-index: 300;
	margin: -31px;
	position: relative;
}

.Cheese {
	width: 80%;
	z-index: 301;
	margin: -24px;
	position: relative;
}

.Salad {
	width: 80%;
	z-index: 305;
	margin: -13px;
	position: relative;
}

.Bacon {
	width: 80%;
	z-index: 302;
	margin: -20px;
	position: relative;
}
