.Input {
	width: 100%;
	margin-top: 10px;
}
.InputElement {
	width: 70%;
	background-color: rgb(255, 239, 194);
	border: 2px solid rgb(255, 218, 116);
	border-radius: 4px;
	padding: 2px;
}

.Label {
	display: block;
	text-align: left;
	width: 72%;
	margin: 1px auto;
}

.Invalid {
	border: 2px solid red;
	background-color: salmon;
}

.Feedback {
	display: block;
	width: 72%;
	margin: auto;
	text-align: left;
	font-size: 13px;
	color: red;
	height: 0;
	opacity: 0;
}
.In {
	transition: all 0.2s ease-in-out;
	opacity: 1;
	height: 100%;
}
