.Input {
	width: 100%;
	margin-top: 10px;
}
.InputElement {
	width: 70%;
	background-color: rgb(255, 239, 194);
	border: 2px solid rgb(255, 218, 116);
	border-radius: 4px;
	padding: 2px;
}

.Label {
	display: block;
	text-align: left;
	width: 72%;
	margin: 1px auto;
}

.Invalid {
	border: 2px solid red;
	background-color: salmon;
}
